.loding-text {
  visibility: hidden;
}

.products-container {
  width: 100%;
  width: 90vw;
  margin: 0 auto;
  margin-top: 2rem;
  padding-bottom: 4rem;
}
.products {
  display: grid;
  gap: 1rem;
}
.single-product {
  padding: 1rem 2.5rem;
  background: white;
  border-radius: 5px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: 0.3s ease-in-out all;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}